@media (max-width: 900px) {

    .navigation-bar-navs .page-navigations a {
        display: none;
    }
    .website-caption-section {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .website-caption-section .caption-title,
    .website-caption-section .caption-image {
        width: 100%;
    }
    .website-caption-section .caption-title .caption-title-content {
        width: 80%;
    }
    .website-caption-section .caption-image {
        height: 50%;
    }
    .website-caption-section .caption-image img {
        height: 20rem;
    }

    .website-about-section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    .website-about-section .about-section-caption {
        height: 100%;
    }
    .website-about-section .about-section-caption .caption-container {
        height: 100%;
        width: 100%;
    }
    .website-about-section .about-section-caption .caption-container .leaf {
        width: 20rem;
        height: 20rem;
    }
    .website-about-section .about-section-caption .caption-container .leaf:last-child h3 {
        font-size: 1rem;
    }
    .website-about-section .about-section-details .details-container {
        padding: 2rem;
        box-sizing: border-box;
    }
    .website-team-section .title {
        width: 90%;
    }
    footer {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
}

@media (max-width: 1024) {
    .website-caption-section .caption-title .caption-title-content {
        width: 100%;
    }
    .website-about-section .about-section-caption .caption-container .leaf {
        width: 20rem;
        height: 20rem;
    }
}